<template>
    <b-container fluid class="py-3">
        <validation-observer ref="observer">
            <b-card no-body>
                <b-tabs card>
                    <b-tab>
                        <template v-slot:title>
                            Nitrado API <b-spinner type="border" class="ml-2" small v-if="fetching"></b-spinner>
                        </template>

                        <validation-provider :rules="`required`" name="api_key" v-slot="{ errors }">
                            <b-input-group>
                                <template v-slot:prepend>
                                    <b-input-group-text @click="form.api_key = globalApiKey"><i class="fas fa-key"></i></b-input-group-text>
                                </template>

                                <b-form-input
                                        type="text"
                                        :state="errors[0] ? false : (errors[0] ? true : null)"
                                        v-model="form.api_key"
                                        placeholder="API key"
                                        @change="fetchServices"
                                ></b-form-input>

                                <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                            </b-input-group>
                            <small class="text-muted">Tip: click the key icon to reset the value to the global API key.</small>
                        </validation-provider>

                        <validation-provider :rules="`required`" name="Service" v-slot="{ errors }">
                            <b-select
                                    :disabled="services.length === 0"
                                    class="mt-3"
                                    :state="errors[0] ? false : (errors[0] ? true : null)"
                                    v-model="form.service_id"
                                    @change="setName()"
                                    placeholder="API key"
                            >
                                <b-form-select-option
                                        :value="null"
                                        disabled
                                >
                                    -- Select a service --
                                </b-form-select-option>
                                <b-form-select-option
                                        v-for="service in services"
                                        :key="service.id"
                                        :value="service.id"
                                        :disabled="!service.details.game.includes('ARK')"
                                >
                                    {{ service.id }} - {{ service.details.name }}
                                </b-form-select-option>
                            </b-select>

                            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                        </validation-provider>

                        <div v-if="form.service_id">
                            <hr class="my-3">

                            <validation-provider :rules="`required`" name="name" v-slot="{ errors }">
                                <b-input-group>
                                    <template v-slot:prepend>
                                        <b-input-group-text><i class="fas fa-tag"></i></b-input-group-text>
                                    </template>

                                    <b-form-input
                                            type="text"
                                            :state="errors[0] ? false : (errors[0] ? true : null)"
                                            v-model="form.name"
                                            placeholder="Server name"
                                    ></b-form-input>

                                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                                </b-input-group>
                            </validation-provider>

                            <b-form-group class="mt-3">
                                <b-form-checkbox v-model="form.is_tracking_players">Track players</b-form-checkbox>
                            </b-form-group>

                            <b-form-group class="mt-3">
                                <b-form-checkbox v-model="form.has_status_notifications">Notify on status change</b-form-checkbox>
                            </b-form-group>

                            <validation-provider :rules="{required: form.has_status_notifications, regex: /^https:\/\/discordapp\.com\/api\/webhooks\/[0-9]+\/.*$/}" name="discord webhook url" v-slot="{ errors }">
                                <b-input-group class="mt-3">
                                    <template v-slot:prepend>
                                        <b-input-group-text><i class="fab fa-discord"></i></b-input-group-text>
                                    </template>

                                    <b-form-input
                                            :readonly="!form.has_status_notifications"
                                            type="text"
                                            :state="errors[0] ? false : (errors[0] ? true : null)"
                                            v-model="form.status_change_webhook"
                                            placeholder="Discord webhook URL"
                                    ></b-form-input>

                                    <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                                </b-input-group>
                            </validation-provider>
                        </div>


                        <b-button
                                variant="primary"
                                @click="save"
                                class="float-right my-3"
                        >
                            Add
                        </b-button>
                    </b-tab>
                </b-tabs>
            </b-card>
        </validation-observer>
    </b-container>
</template>

<script>
    import axios from "~/plugins/axios";

    export default {
        data() {
            return {
                search: null,
                loading: false,
                fetching: false,
                globalApiKey: null,
                services: [],
                form: {
                    api_key: null,
                    service_id: null,
                    name: null,
                    is_tracking_players: true,
                    has_status_notifications: false,
                    status_change_webhook: null
                }
            }
        },

        async created() {
            this.loading = true;

            try {
                let {data} = await axios.get('/api/settings/api_key');
                this.form.api_key = data.data.value;
                this.globalApiKey = data.data.value;

                if (this.form.api_key) {
                    this.fetchServices();
                }

            } catch (e) {
                console.error(e);
            }

            this.loading = false;
        },

        methods: {
            async fetchServices() {
                this.fetching = true;

                try {
                    let {data} = await axios.get('/api/nitrado/services', {
                        headers: {
                            'X-Nitrado-Key': this.form.api_key
                        }
                    });

                    this.services = data.data;
                } catch (e) {
                    if (e.hasOwnProperty('response') && e.response.status === 401) {
                        this.$refs.observer.setErrors({
                            api_key: ['The given API key is invalid.']
                        });

                        this.services = [];
                    }
                }

                this.fetching = false;
            },

            setName() {
                if (this.service && !this.form.name) {
                    this.form.name = this.service.details.name.replace(/[\\]+/g, '');
                }
            },

            async save() {
                let valid = await this.$refs.observer.validate();

                if (!valid) {
                    return;
                }

                try {
                    let {data} = await axios.post('/api/servers', this.form);

                    this.$root.$bvToast.toast(data.message, {
                        title: 'System notification',
                        variant: 'success'
                    });

                    if (this.form.is_tracking_players) {
                        this.$root.$bvToast.toast(`Server ${this.form.name} is now tracking players.`, {
                            title: 'System notification',
                            variant: 'info'
                        });
                    }

                    return await this.$router.push({name: 'servers'});
                } catch (e) {
                    if (e.hasOwnProperty('response')) {
                        if (e.response.status === 422) {
                            this.$refs.observer.setErrors(e.response.data.errors);
                        } else if (e.response.status === 400) {
                            this.$root.$bvToast.toast(e.response.data.message, {
                                title: 'Error',
                                variant: 'danger'
                            });
                        }
                    }
                }
            }
        },

        computed: {
            service() {
                let service = this.services.filter(x => x.id === this.form.service_id)[0];

                if (!service) {
                    return null;
                }

                return service;
            }
        }
    }
</script>

<style scoped>
    .fa-key {
        cursor: pointer;
    }
</style>