<template>
    <b-container fluid class="py-3">
        <b-card no-body class="mb-3">
            <b-card-body class="p-2">
                <b-button @click="modal = true">Add server</b-button>
            </b-card-body>
        </b-card>
        <b-row>
            <b-col cols="12" md="6" lg="4">
                <b-overlay :show="loading" rounded="sm">
                    <b-card>
                        <h3></h3>
                    </b-card>
                </b-overlay>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import axios from "~/plugins/axios";

    export default {
        data() {
            return {
                servers: [],
                search: null,
                loading: false,
            }
        },

        async created() {
            this.loading = true;

            try {
                let {data} = await axios.get('/api/servers');
                this.servers = data.servers;
            } catch (e) {
                console.error(e);
            }

            this.loading = false;
        }
    }
</script>

<style scoped>
    i {
        cursor: pointer;
    }
</style>