<template>
    <b-container class="py-5">
        <h1 class="text-center">Helix Panel</h1>
        <b-overlay :show="loading" rounded="sm">
            <b-card>
                <validation-observer ref="observer">
                    <h3 class="mb-3">Admin account</h3>
                    <b-form @submit.prevent="submit">

                        <validation-provider :rules="{required: true, min:3, regex: /^[a-zA-Z0-9]+$/}" name="name" v-slot="{ errors }">
                            <b-input-group>
                                <template v-slot:prepend>
                                    <b-input-group-text><i class="fas fa-user"></i></b-input-group-text>
                                </template>

                                <b-form-input
                                        type="text"
                                        :state="errors[0] ? false : (errors[0] ? true : null)"
                                        v-model="form.name"
                                        placeholder="Username"
                                ></b-form-input>

                                <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                            </b-input-group>
                        </validation-provider>

                        <validation-provider rules="required|email" name="email" v-slot="{ errors }">
                            <b-input-group class="mt-3">
                                <template v-slot:prepend>
                                    <b-input-group-text><i class="fas fa-envelope"></i></b-input-group-text>
                                </template>

                                <b-form-input
                                        type="email"
                                        :state="errors[0] ? false : (errors[0] ? true : null)"
                                        v-model="form.email"
                                        placeholder="Email address"
                                ></b-form-input>

                                <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                            </b-input-group>
                        </validation-provider>

                        <validation-provider rules="required|min:8" name="password" v-slot="{ errors }">
                            <b-input-group class="mt-3">
                                <template v-slot:prepend>
                                    <b-input-group-text><i class="fas fa-lock"></i></b-input-group-text>
                                </template>

                                <b-form-input
                                        type="password"
                                        :state="errors[0] ? false : (errors[0] ? true : null)"
                                        v-model="form.password"
                                        placeholder="Password"
                                ></b-form-input>

                                <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                            </b-input-group>
                        </validation-provider>

                        <validation-provider :rules="`required|is:${form.password}`" name="confirm password" v-slot="{ errors }">
                            <b-input-group class="mt-3">
                                <template v-slot:prepend>
                                    <b-input-group-text><i class="fas fa-lock"></i></b-input-group-text>
                                </template>

                                <b-form-input
                                        type="password"
                                        :state="errors[0] ? false : (errors[0] ? true : null)"
                                        v-model="form.password_confirmation"
                                        placeholder="Confirm Password"
                                ></b-form-input>

                                <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                            </b-input-group>
                        </validation-provider>
                    </b-form>

                    <hr>

                    <h3 class="mb-3">General settings</h3>

                    <validation-provider :rules="`required`" name="API key" v-slot="{ errors }">
                        <b-input-group class="mt-3">
                            <template v-slot:prepend>
                                <b-input-group-text><i class="fas fa-key"></i></b-input-group-text>
                            </template>

                            <b-form-input
                                    type="text"
                                    :state="errors[0] ? false : (errors[0] ? true : null)"
                                    v-model="form.api_key"
                                    placeholder="API key"
                            ></b-form-input>

                            <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                        </b-input-group>
                    </validation-provider>


                </validation-observer>

                <b-button
                        variant="primary"
                        class="float-md-right mt-3"
                        :disabled="loading"
                        @click="submit"
                >
                    Submit
                </b-button>
            </b-card>
        </b-overlay>
    </b-container>
</template>

<script>
    import axios from "~/plugins/axios";

    export default {
        data() {
            return {
                form: {
                    name: null,
                    password: null,
                    email: null,
                    password_confirmation: null,
                    api_key: null
                },
                loading: false,
                invalid: false
            }
        },

        methods: {
            async submit() {
                let valid = await this.$refs.observer.validate();

                if (!valid) {
                    return;
                }

                this.loading = true;

                try {
                    await axios.get('/sanctum/csrf-cookie');
                    const {data} = await axios.post('/api/setup', this.form);

                    await axios.post('/login', this.form);

                    this.$root.$bvToast.toast(`Setup successfully completed`, {
                        title: 'System notification',
                        variant: 'info',
                    });

                    this.$root.$bvToast.toast(`Welcome ${data.data.name} to Helix Panel`, {
                        title: 'Login successful',
                        variant: 'success',
                    });

                    return await this.$router.push({name: 'home'});
                } catch (e) {
                    if (e.hasOwnProperty('response')) {
                        if (e.response.status === 403) {
                            this.$root.$bvToast.toast(`An admin account already exists.`, {
                                title: 'Action unauthorized',
                                variant: 'danger',
                            });
                        } else if (e.response.status === 422) {
                            this.$refs.observer.setErrors(e.response.data.errors);
                        }
                    }

                    this.invalid = true;
                }

                this.loading = false;
            }
        }
    }
</script>