<template>
    <b-container fluid>
        <b-row class="m-auto">
            <b-col cols="12" md="8" lg="6" xl="4" class="mx-auto my-auto">
                <h1 class="text-center">Helix Panel</h1>
                <b-overlay :show="loading" rounded="sm">
                    <b-card>
                        <validation-observer ref="observer">
                            <b-form @submit.prevent="submit">

                                <validation-provider rules="required" name="name" v-slot="{ errors }">
                                    <b-input-group>
                                        <template v-slot:prepend>
                                            <b-input-group-text><i class="fas fa-user"></i></b-input-group-text>
                                        </template>

                                        <b-form-input
                                                type="text"
                                                :state="errors[0] ? false : (errors[0] ? true : null)"
                                                v-model="form.name"
                                                placeholder="Username"
                                        ></b-form-input>
                                    </b-input-group>
                                </validation-provider>

                                <validation-provider rules="required" name="password" v-slot="{ errors }">
                                    <b-input-group class="mt-3">
                                        <template v-slot:prepend>
                                            <b-input-group-text><i class="fas fa-lock"></i></b-input-group-text>
                                        </template>

                                        <b-form-input
                                                type="password"
                                                :state="errors[0] ? false : (errors[0] ? true : null)"
                                                v-model="form.password"
                                                placeholder="Password"
                                        ></b-form-input>
                                    </b-input-group>
                                </validation-provider>
                            </b-form>
                        </validation-observer>

                        <span v-if="invalid">
                            These credentials do not match our records.
                        </span>

                        <b-button
                                variant="primary"
                                class="float-md-right mt-3"
                                :disabled="loading"
                                @click="submit"
                        >
                            Sign in
                        </b-button>
                    </b-card>
                </b-overlay>
                <div class="text-center">
                    <small class="text-muted">Copyright &copy; <a href="https://delta-velorum.com" target="_blank">Delta Velorum</a></small>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import axios from "~/plugins/axios";
    import {mapGetters} from "vuex";

    export default {
        data() {
            return {
                form: {
                    name: null,
                    password: null
                },
                loading: false,
                invalid: false
            }
        },

        computed: mapGetters({
            user: 'auth/user',
        }),

        methods: {
            async submit() {
                let valid = await this.$refs.observer.validate();

                if (!valid) {
                    return;
                }

                this.loading = true;

                try {
                    await axios.get('/sanctum/csrf-cookie');
                    await axios.post('/login', this.form);
                    await this.$store.dispatch('auth/fetch');

                    this.$root.$bvToast.toast(`Welcome back ${this.user.name}`, {
                        title: 'Login successful',
                        variant: 'success'
                    });

                    return await this.$router.push({name: 'home'})
                } catch (e) {
                    this.invalid = true;
                }
                this.loading = false;
            }
        }
    }
</script>

<style scoped>
    .row {
        min-height: 60vh;
        display: flex;
    }
</style>