@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap';
@import '~bootstrap-vue';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background: #f1f2f6;
}

.b-sidebar-backdrop.bg-dark {
  opacity: 0 !important;
}

.card {
  border: none !important;
  border-radius: 0 !important;
}

.table thead th {
  border-top: none !important;
}