<template>
    <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
</template>

<script>
    export default {
        data() {
            return {
                breadcrumbs: []
            }
        },

        methods: {
            update() {
                this.breadcrumbs = this.$route.meta.breadcrumbs;
            }
        },

        watch: {
            '$route'() {
                this.update();
            }
        },

        created() {
            this.update();
        }
    }
</script>

<style scoped>
    .breadcrumb {
        background: transparent;
    }
</style>