<template>
    <div v-if="ready" class="app">
        <div v-if="user">
            <b-navbar toggleable="sm" type="light" variant="light">
                <b-navbar-toggle target="nav-text-collapse"></b-navbar-toggle>

                <b-collapse id="nav-text-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-text @click="sidebar = !sidebar" style="cursor:pointer" class="px-2">
                            <i class="fas fa-bars"></i>
                        </b-nav-text>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>

            <b-sidebar
                    id="sidebar"
                    aria-label="Sidebar"
                    no-header
                    shadow
                    backdrop
                    v-model="sidebar"
            >
                <template v-slot:footer="{ hide }">
                    <div class="text-center py-2 mx-auto px-3">
                        <small class="mr-auto font-weight-bold">Helix Panel</small><br>
                        <small>Copyright &copy; <a href="https://delta-velorum.com" target="_blank">Delta Velorum</a></small>
                    </div>
                </template>
                <div class="py-3">
                    <b-list-group>
                        <b-list-group-item
                                v-for="route in routes"
                                :key="route.text"
                                :to="route.to"
                        >
                            <i class="fas mr-2" :class="route.icon" v-if="route.icon"></i>
                            {{ route.text }}
                        </b-list-group-item>
                    </b-list-group>
                </div>
            </b-sidebar>
        </div>

        <div id="content">
            <router-view></router-view>
        </div>


    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        data() {
            return {
                ready: false,
                sidebar: false,
                routes: [
                    {text: 'Home', icon: 'fa-home', to: {name: 'home'}},
                    {text: 'Users', icon: 'fa-users', to: {name: 'users'}},
                    {text: 'Servers', icon: 'fa-server', to: {name: 'servers'}},
                ],
            }
        },

        computed: {
            ...mapGetters({
                user: 'auth/user',
            }),
        },

        async created() {
            this.ready = true;
        }
    }
</script>

<style scoped>
    .list-group {
        border-radius: 0;
    }

    .list-group-item {
        border: none;
        background: transparent;
    }

    .list-group-item.router-link-active {
        border-left: 3px solid #ff7100;
        background: rgba(0, 0, 0, 0.05);
    }
</style>