<template>
    <b-container fluid class="py-3">
        <b-row>
            <b-col cols="auto" v-if="user">
                <h2>Activity - {{ user.name }}</h2>
            </b-col>
            <b-col cols="auto" class="ml-auto">
                <breadcrumbs/>
            </b-col>
        </b-row>
        <b-overlay :show="loading" rounded="sm" class="h-100">
            <b-card no-body>
                <b-table :items="user.activity" :fields="headers" v-if="user"></b-table>
            </b-card>
        </b-overlay>
    </b-container>
</template>

<script>
    import axios from "~/plugins/axios";
    import moment from "moment";

    export default {
        data() {
            return {
                loading: false,
                user: null,
                headers: [
                    {
                        key: 'description',
                        label: 'Description'
                    },
                    {
                        key: 'subject_type',
                        label: 'Model'
                    },
                    {
                        key: 'subject_id',
                        label: 'Model #'
                    },
                    {
                        key: 'created_at',
                        label: 'When'
                    },
                ]
            }
        },

        async created() {
            this.loading = true;

            try {
                let {data} = await axios.get(`/api/users/${this.$route.params.id}/activity`);
                this.user = data.data;
                this.user.activity = this.user.activity.map(x => ({
                    ...x,
                    created_at: moment(x.created_at).fromNow()
                }));
            } catch (e) {
                if (e.hasOwnProperty('response') && e.response.status === 404) {
                    this.$root.$bvToast.toast(`Couldn't find an user with the ID ${this.$route.params.id}`, {
                        title: 'User not found',
                        variant: 'warning'
                    });

                    return await this.$router.push({name: 'users'});
                }
            }

            this.loading = false;
        }
    }
</script>