<template>
    <b-container fluid class="py-3">
        <b-row>
            <b-col cols="auto">
                <h2>Modify user</h2>
            </b-col>
            <b-col cols="auto" class="ml-auto">
                <breadcrumbs />
            </b-col>
        </b-row>
        <validation-observer ref="observer">
            <b-form @submit.prevent="save">
                <b-row>
                    <b-col cols="8">
                        <b-overlay :show="loading" rounded="sm" class="h-100">
                            <b-card class="h-100">
                                <b-card-title>General</b-card-title>

                                <validation-provider :rules="{required: true, min:3, regex: /^[a-zA-Z0-9]+$/}" name="name" v-slot="{ errors }">
                                    <b-input-group>
                                        <template v-slot:prepend>
                                            <b-input-group-text><i class="fas fa-user"></i></b-input-group-text>
                                        </template>

                                        <b-form-input
                                                type="text"
                                                :state="errors[0] ? false : (errors[0] ? true : null)"
                                                v-model="form.name"
                                                placeholder="Username"
                                        ></b-form-input>

                                        <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                                    </b-input-group>
                                </validation-provider>

                                <validation-provider rules="required|email" name="email" v-slot="{ errors }">
                                    <b-input-group class="mt-3">
                                        <template v-slot:prepend>
                                            <b-input-group-text><i class="fas fa-envelope"></i></b-input-group-text>
                                        </template>

                                        <b-form-input
                                                type="email"
                                                :state="errors[0] ? false : (errors[0] ? true : null)"
                                                v-model="form.email"
                                                placeholder="Email address"
                                        ></b-form-input>

                                        <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                                    </b-input-group>
                                </validation-provider>

                                <validation-provider rules="min:8" name="password" v-slot="{ errors }">
                                    <b-input-group class="mt-3">
                                        <template v-slot:prepend>
                                            <b-input-group-text @click="hide.password = !hide.password" style="cursor:pointer"><i class="fas" :class="{'fa-lock': hide.password, 'fa-unlock': !hide.password}"></i></b-input-group-text>
                                        </template>

                                        <b-form-input
                                                :type="hide.password ? 'password' : 'text'"
                                                :state="errors[0] ? false : (errors[0] ? true : null)"
                                                v-model="form.password"
                                                placeholder="Password"
                                        ></b-form-input>

                                        <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                                    </b-input-group>
                                </validation-provider>

                                <validation-provider :rules="`is:${form.password}`" name="confirm password" v-slot="{ errors }">
                                    <b-input-group class="mt-3">
                                        <template v-slot:prepend>
                                            <b-input-group-text @click="hide.password_confirmation = !hide.password_confirmation" style="cursor:pointer">
                                                <i class="fas" :class="{'fa-lock': hide.password_confirmation, 'fa-unlock': !hide.password_confirmation}"></i></b-input-group-text>
                                        </template>

                                        <b-form-input
                                                :type="hide.password_confirmation ? 'password' : 'text'"
                                                :state="errors[0] ? false : (errors[0] ? true : null)"
                                                v-model="form.password_confirmation"
                                                placeholder="Confirm Password"
                                        ></b-form-input>

                                        <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                                    </b-input-group>
                                </validation-provider>

                                <small class="text-muted">Leave empty if you don't want to change the password</small>

                            </b-card>
                        </b-overlay>
                    </b-col>

                    <b-col cols="4">
                        <b-overlay :show="loading" rounded="sm" class="h-100">
                            <b-card class="h-100">
                                <b-card-title>Permissions</b-card-title>
                                <b-form-group
                                        v-for="permission in permissions"
                                        :key="permission.id"
                                >
                                    <b-form-checkbox v-model="form.permissions" :value="permission.name" style="text-transform: capitalize">{{ permission.name }}</b-form-checkbox>
                                </b-form-group>
                            </b-card>
                        </b-overlay>
                    </b-col>
                </b-row>

                <b-button
                        variant="primary"
                        class="float-right mt-3"
                        :disabled="loading"
                        @click="save"
                >
                    Submit
                </b-button>
            </b-form>
        </validation-observer>
    </b-container>
</template>

<script>
    import axios from "~/plugins/axios";

    export default {
        data() {
            return {
                loading: false,
                form: {
                    name: null,
                    password: null,
                    email: null,
                    password_confirmation: null,
                    permissions: []
                },
                permissions: [],
                hide: {
                    password: true,
                    password_confirmation: true,
                }
            }
        },

        async created() {
            this.loading = true;

            try {
                let {data} = await axios.get('/api/permissions');
                this.permissions = data.data;
            } catch (e) {
                console.error(e);
            }

            try {
                let {data} = await axios.get(`/api/users/${this.$route.params.id}`);
                Object.entries(data.data).forEach(([key, value]) => {
                    if (this.form.hasOwnProperty(key)) {
                        this.form[key] = value;
                    }
                });

                this.form.permissions = data.data.permissions.map(x => x.name);
            } catch (e) {
                if (e.hasOwnProperty('response') && e.response.status === 404) {
                    this.$root.$bvToast.toast(`Couldn't find an user with the ID ${this.$route.params.id}`, {
                        title: 'User not found',
                        variant: 'warning'
                    });

                    return await this.$router.push({name: 'users'});
                }
            }

            this.loading = false;
        },

        methods: {
            async save() {
                let valid = await this.$refs.observer.validate();

                if (!valid) {
                    return;
                }

                try {
                    let {data} = await axios.post(`/api/users/${this.$route.params.id}`, this.form);

                    this.$root.$bvToast.toast(`User ${this.form.name} was successfully updated.`, {
                        title: 'User updated',
                        variant: 'success'
                    });

                    return await this.$router.push({name: 'users'});
                } catch (e) {
                    if (e.hasOwnProperty('response') && e.response.status === 422) {
                        this.$refs.observer.setErrors(e.response.data.errors);
                    }
                }
            }
        }
    }
</script>