<template>
    <b-container fluid class="py-3">
        <b-row>
            <b-col cols="auto">
                <h2>Users</h2>
            </b-col>
            <b-col cols="auto" class="ml-auto">
                <breadcrumbs/>
            </b-col>
        </b-row>
        <b-overlay :show="loading" rounded="sm" class="h-100">
            <b-card no-body>
                <b-card-body class="p-2">
                    <b-row>
                        <b-col cols="auto">
                            <b-button
                                    variant="primary"
                                    :to="{name: 'users/create'}"
                            >
                                <i class="fas fa-plus mr-2"></i> Create account
                            </b-button>
                        </b-col>
                        <b-col cols="4" class="ml-auto">
                            <b-input placeholder="Search" v-model="search"></b-input>
                        </b-col>
                    </b-row>
                </b-card-body>
                <b-table
                        :items="users.filter(x => search === null || x.name.includes(search) || x.email.includes(search))"
                        :fields="headers"
                        hover
                >
                    <template v-slot:cell(is_super_admin)="data">
                        <i class="fas fa-check text-success" v-if="data.item.is_super_admin"></i>
                        <i class="fas fa-times text-danger" v-else></i>
                    </template>

                    <template v-slot:cell(actions)="data">
                        <router-link
                                :to="{name: 'users/edit', params: {id: data.item.id}}"
                        >
                            <i class="fas fa-user-edit mr-2"></i>
                        </router-link>

                        <router-link
                                :to="{name: 'users/activity', params: {id: data.item.id}}"
                        >
                            <i class="fas fa-history"></i>
                        </router-link>
                    </template>
                </b-table>
            </b-card>
        </b-overlay>
    </b-container>
</template>

<script>
    import axios from "~/plugins/axios";

    export default {
        data() {
            return {
                users: [],
                search: null,
                loading: false,
                headers: [
                    {
                        key: 'id',
                        label: '#',
                        sortable: true
                    },
                    {
                        key: 'name',
                        label: 'Username',
                    },
                    {
                        key: 'email',
                        label: 'Email address',
                    },
                    {
                        key: 'is_super_admin',
                        label: 'Super admin',
                        sortable: true
                    },
                    {
                        label: 'Actions',
                        key: 'actions'
                    }
                ]
            }
        },

        async created() {
            this.loading = true;

            try {
                let {data} = await axios.get('/api/users');
                this.users = data.data;
            } catch (e) {
                console.error(e);
            }

            this.loading = false;
        }
    }
</script>

<style scoped>
    i {
        cursor: pointer;
    }
</style>